body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 200%;
}
hr{
width: 6%;
border-style: none;
border-top-style: dotted;
background-color: white;
border-color: #EAF6F6;
border-width: 5px;
margin-top: 0;


}


h1 {
  font-size: 5.625rem;
  line-height: 1;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: silver;
  text-align: left;
  margin-left: 100px;


}

h2 {
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11999E;
  font-weight: normal;
  text-align: left;
  margin-left: 280px;


}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

p {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

a{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.top-container {
  position: relative;
  padding-top: 50px;
  background-color: black;
}

.middle-container {
  padding-top: 30px;
  background-color: white;
  text-align: center;
}

.bottom-container{
padding-top: 25px;
background-color: #66BFBF



}
.top-cloud {
  position: absolute;
  right: 150px;
  top: 200px
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 230px;
  opacity: 0;
}

.moon {
  width: 800px;
  height: 400px;
position: relative;
margin-left: 200px;
}
.profile-picture{
  border-radius: 50%;
  width: 10%;
  margin-left: auto;
  padding-top: 100px;

}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;


}
.code-img{
  width: 25%;
  float: left;
  margin-right: 20px;
  height: 105%;
}
.my-skills {
  text-align: center;
  Margin:0;
  padding-top: 100px;
  padding-bottom: 40px;
}
.hello-profile {
text-align:center;
margin: 0px auto 50px auto;


}
.profile-description{
  margin: auto;
  width: 30%;
  padding-bottom: 100px;
  text-align: center;

}
.adm-img{
  width:25%;
  float:right;
  margin-left: 30px;

}
.skill-row-adm{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: right;
  padding-top: 30px;


}
.code-skill-description{
margin-bottom: 75px;
text-align:right;

}
.adm-description{
text-align: left;
padding-bottom: 100px;
}
.business-administration{

}
.dev{
  text-align: right;
}
.get-in-touch{
  text-align: center;
}
.contact-me{
  text-align: center;
  padding-bottom: 100px;
}
.get-in-touch{
  margin-left: 20px;
  padding-top: 80px;
}
.leave-a-mensage{
  padding-bottom: 60px;
  width: 50%;
  margin: auto;

}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC48D);
  text-decoration: none;
}
.copy {
color: #eaf6f6;
font-size: 1.4rem;
padding: 20px 0;
}
